/* //colors//
 blue: #4731D3; yeşil:  #CBF281; pembe: 
#E92577 , açık mor:#8F88FF, sarı: #FFE86E hero buttons: Default/indigo/800
#3730A3
Default/white
#FFFFFF


//Fonts//

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Inter:wght@700&display=swap");
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Inter:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
 }
